* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family:  Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.45;
  color: white;
  background: linear-gradient(to bottom,#654a86,#534292);

}
h2{
  margin: 40px 40px 0;
  line-height: 1.5;
  color: #534292;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;

}

.login-page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin: 20px auto; */
}
.container {
  position: relative;
  height: 100%;
  text-align: center;
  padding-top: 60px;
}

@media (min-width: 1200px){
  .container {
    width: 1170px;
  }
}

@media (min-width: 992px){
  .container {
    width: 970px;
  }
}

@media (min-width: 768px){
  .container {
    width: 750px;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.login-logo{
    align-self: center;
    margin: 0 auto;
}

.login-container{
    align-self: center;
    padding: 4%;
    margin: 4% 0;

}

.login-container a{
    color:white;
}

/* white container*/
.white-container{
  display: flex;
  flex-direction: column;
  max-width: 430px;
  margin: 20px auto;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid transparent;
  box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}
form{
  text-align: left;
  padding: 40px;
}
.input-group{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding:10px; */
  margin-right: 10px;
  /* margin-top: 20px; */
  position: relative;
}
.password{
  margin: 20px 0;

}
form .label{
  margin-left:40px;
}
form .align-left{
  color: #62748e;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
}
.field-group {
  display: flex;
  justify-content: center;
  width: 100%;
  
}

form .field-group i{
  color: #534292;
  font-size: 1rem;
  width: 36px;
  height: 36px;
  text-align: right;
  position: absolute;
  margin-right: 20px;
  margin-top: 13px;
  /* bottom: -10px; */
}
input[type="email"],input[type="password"]{
  height: 44px;
  padding-left: 50px;
}
.field-group input{
  padding: 6px 45px;
  font-size: 14px;
  line-height: 1.42857;
  font-weight: 300;
  color: #3f3f44;
  letter-spacing: 1px;
  border: 1px solid #cbcbd2;
  background-color: #fff;
  border-radius: 4px;
  width: 100%;
  box-shadow: inset 0 1px 2px rgb(203 203 210 / 40%);
}

.logIn{
  width:100%;
  margin: 2% 11%;
  padding: 10px 30px;
  text-align: center;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 5px;
  color: #fff;
  background: linear-gradient(to bottom,#654a86,#534292);
  text-decoration: none;
}

#white-container-footer{
  padding: 20px;
  display: block;
  font-size: 17px;
  color: #4a5568;
  text-decoration: none;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
}

#white-container-footer span{
  text-decoration: underline;

}