@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(
      90deg,
      #0f1317,
      50%,
      rgba(9, 9, 121, 0.396796218487395) 50%,
      rgba(0, 212, 255, 0) 100%
    ),
    url("https://images.unsplash.com/photo-1507908708918-778587c9e563?ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=80");
  background-size: cover;
  font-family: "Quicksand", sans-serif;
  color: #f2f4f4;
  letter-spacing: 2px;
}

.main-form {
  flex-direction: column;
  width: 900px;
  height: 600px;
  align-self: center;
  justify-self: center;
  border: 20px solid transparent;
  border-image: url("https://images.unsplash.com/photo-1507908708918-778587c9e563?ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=80");
  border-image-slice: 70;
}

.inputs {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-top: 100px;
  margin-left: 50px;
}

.header {
  color: white;
}

.username,
.password {
  padding: 20px;
  margin: 10px;
  margin-right: 10px;
  background: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #304f61;
  outline: 0;
  color: #f2f4f4;
}

.btn {
  border-radius: 30px;
  border: 0;
  outline: 0;
  padding: 20px 70px 20px 70px;
  margin-top: 30px;
 	background: linear-gradient(270deg, #0054b0, #026fe6, #02a8e6, #02dae6);	
  animation: GradientAnimate 12s ease infinite;
	background-size: 600% 600%;
  font-family: "Quicksand", sans-serif;
  color: #f2f4f4;
  letter-spacing: 2px;
}

@keyframes GradientAnimate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 900px) {
  body {
    background: #0f1317;
  }
  .main-form {
    border: 0;
  }
  .inputs {
    position: relative;
    margin-left: 0;
  }
}
