@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Style+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginbox {
  width: 45%;
  height: 70%;
  display: flex;
  flex-direction: row;
  border: 1px grey solid;
}
.imagearea {
  width: 50%;
}
.imagearea img {
  width: 100%;
  height: 100%;
}
.loginsection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 50%;
}
.title {
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 10px;
}
.title p {
  font-family: "Style Script", cursive;
  letter-spacing: 2px;
}
.message {
  font-size: 0.98em;
  font-weight: 700;
  color: rgba(22, 21, 21, 0.582);
}
.credentials {
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-direction: column;
  width: 70%;
  height: 130px;
}
.credentials .uname,
.pass,
.forget,
.signup {
  font-weight: 600;
  font-size: smaller;
  color: rgba(22, 21, 21, 0.582);
}
.user,
.password {
  border: none;
  border-bottom: 1px grey solid;
}
input:focus {
  outline: none;
}
.forget {
  text-align: right;
}
.loginbtn {
  width: 100px;
  height: 40px;
  border-radius: 21px;
  border: 1px solid rgb(59, 59, 59);
  cursor: pointer;
  transition: 0.5s all;
}
.loginbtn:hover {
  background-color: rgb(164 196 181);
}
