section {
	position: relative;
	min-height: 100vh;
	background: #cd48fe;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

section .container {
	position: relative;
	width: 800px;
	height: 500px;
	background: #fff;
	box-shadow: 0px 0px 52px -6px rgba(0, 0, 0, 0.69);
	overflow: hidden;
}

section .container .user {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
}

section .container .user .imgBx {
	position: relative;
	width: 50%;
	height: 100%;
	background: #ff0;
	transition: 0.5s;
}

section .container .user .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

section .container .user .formBx {
	position: relative;
	width: 50%;
	height: 100%;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px;
	padding-top: 0px;
	transition: 0.5s;
}

section .container .user .formBx form h2 {
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	width: 100%;
	margin-bottom: 10px;
	color: #555;
	padding-top: 10px;
}

section .container .user .formBx form h2 > img {
	position: relative;
	max-width: 100%;
	padding-bottom: 10px;
	display: inline-block;
	display: none;
}

section .container .user .formBx form h2 > img#sinlogo {
	top: 40px;
}

section .container .user .formBx form input {
	position: relative;
	width: 100%;
	height: auto;
	padding: 10px;
	background: #f5f5f5;
	color: #333;
	border: none;
	box-shadow: 0px 11px 10px -7px rgba(0, 0, 0, 0.72);
	margin: 10px 0;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 300;
	border-radius: 12px 12px 12px 12px;
}

section .container .user .formBx form input.sbutton {
	position: relative;
	box-sizing: content-box;
	width: 100%;
	background: #743f3f;
	color: #333;
	border: none;
	box-shadow: 0px 11px 10px -7px rgba(0, 0, 0, 0.72);
	margin: 10px 0;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 300;
	border-radius: 12px 12px 12px 12px;
	padding: 10px 15px;
	text-align: center;
	text-transform: uppercase;
}

section .container .user .formBx form input.sbutton:hover {
	position: relative;
	box-sizing: content-box;
	width: 100%;
	background: #000000;
	color: rgb(255, 255, 255);
	border: none;
	box-shadow: 0px 11px 10px -7px rgba(0, 0, 0, 0.72);
	margin: 10px 0;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 300;
	border-radius: 12px 12px 12px 12px;
	padding: 10px 15px;
	text-align: center;
	text-transform: uppercase;
}
section .container .user .formBx form input[type="submit"] {
	max-width: 100px;
	background: #f7ed38;
	color: rgb(0, 0, 0);
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	transition: 0.5s;
	font-weight: bolder;
}

section .container .user .formBx form .signup {
	position: relative;
	color: #555;
	text-transform: uppercase;
	font-weight: 300;
}

section .container .user .formBx form .signup a {
	font-weight: 600;
	text-decoration: none;
	color: #677eff;
}

section .container.active .signupBx {
	pointer-events: none;
}

section .container .signupBx {
	pointer-events: initial;
}

section .container.active .signupBx .formBx {
	left: 100%;
}

section .container .signupBx .formBx {
	left: 0;
}

section .container.active .signupBx .imgBx {
	left: -100%;
}

section .container .signupBx .imgBx {
	left: 0;
}

section .container.active .signinBx .formBx {
	left: 0%;
}

section .container .signinBx .formBx {
	left: 100%;
}

section .container.active .signinBx .imgBx {
	left: 0;
}

section .container .signinBx .imgBx {
	left: -100%;
}

@media (max-width: 844px) {
	section .container {
		max-width: 400px;
	}
	section .container .imgBx {
		display: none;
	}

	section .container .user .formBx {
		width: 100%;
		transition: 0.5ms;
	}

	section .container .imgBx {
		display: none;
	}

	section .container .user .formBx form h2 > img {
		position: relative;
		max-width: 100%;
		padding-bottom: 10px;
		display: inline-block;
		clear: both;
	}

	section .container {
		position: relative;
		width: 800px;
		height: 600px;
		background: #fff;
		box-shadow: 0px 0px 52px 6px rgba(0, 0, 0, 0.61);
		overflow: hidden;
	}
}
