@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
html,body{
	height: 100%;
}
body{
	text-align: center;
	display: grid;
	place-items: center;
	background: #a3940a;
}
.content{
	width: 345px;
    background: #a3940a;
    border-radius: 35px;
    padding: 45px 35px;
    box-shadow: -1.5px -1.5px 4px #ffffff73,
                2px 2px 5px rgba(90,105,120,0.288);
}
.content .work{
	font-size: 35px; 
	font-weight: 670;
	margin-bottom: 35px;
	color: #495945; 
}
.content .ground{
	height: 50px;
	width: 100%;
	display: flex;
	position: relative;
}
.ground input{
	height: 100%;
	width: 100%;
	padding-left: 45px;
	font-size: 18px;
	outline: none;
	border: none;
	color: #495945;
	border-radius: 25px;
	background: #dde1e7;
	box-shadow: inset 2px 2px 5px #babecc,
	            inset -5px 5px 10px #ffffff73;
}
.ground input:focus{
	box-shadow: inset 1px 1px 2px #babecc,
	            inset -1px 1px 2px #ffffff73;
}	
.ground:nth-child(2){
	margin-top: 20px;
}
.ground span{
	position: absolute;
	width: 50px;
	line-height: 50px;
	color: #495945;
	margin-left: : 10px;
}
.ground label{
	position: absolute;
	top: 50%;
	left: 45px;
	pointer-events: none;
	color: #666666;
    transform: translateY(-50%);
}
.ground input:focus ~ label{
	color: #666666;
}	

.ground input:valid ~ label{
	opacity: 0;
}
.forgot-password{
	text-align: left;
	margin: 10px 0 10px 5px;
}
.forgot-password a{
	font-size: 14px;
	color: #181575;
	text-decoration: none;
}
.forgot-password:hover a{
	text-decoration: underline;
}
button{
	margin: 15px 0;
	width: 100%;
	height: 50px;
	color: #495945;
	font-size: 17px;
	font-weight: 550;
	background: #dde1e7;
	border: none;
	outline: none;
	border-radius: 25px;
	cursor: pointer;
}
button:hover{
	color: #3498db;
	box-shadow: inset 2px 2px 5px #babecc,
	            inset -5px 5px 10px #ffffff73;
}
.createaccount{
	font-size: 16px;
	color: #495945;
	margin: 10px 0;
}
.createaccount a{
	color: #181575;
	text-decoration: none;
}
.createaccount a:hover{
	text-decoration: underline;
}