* {
    margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
.conatiner {
    margin: 0;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
  background: linear-gradient(45deg, rgb(129, 215, 255), rgb(240, 241, 241));
}
section .colorbox {
  position: absolute;
  filter: blur(120px);
}
section .colorbox:nth-child(1) {
  height: 600px;
  width: 600px;
  top: -350px;
  background-color: chartreuse;
}
section .colorbox:nth-child(2) {
  height: 600px;
  width: 600px;
  bottom: -350px;
  background-color: rgb(214, 46, 141);
}
section .colorbox:nth-child(3) {
  height: 600px;
  width: 600px;
  top: 150px;
  left: -350px;
  background-color: rgb(108, 17, 255);
}
section .colorbox:nth-child(4) {
  height: 600px;
  width: 600px;
  top: 0px;
  right: -350px;
  background-color: rgb(245, 8, 8);
}
.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  min-width: 60vh;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 2px #ffffff, 0px 0px 3px #eeecec, 0px 0px 4px #bdbbbb,
    0px 0px 5px #a19f9f, 0px 0px 6px #918d8d, 0px 0px 7px #3f3e3e;
  backdrop-filter: blur(2px);
  border: 1px solid rgba(223, 209, 209, 0.603);
  border-radius: 10px;
  transition: all 1s;
}
.card:hover {
  border: 1px solid rgba(0, 195, 255, 0.692);
  box-shadow: 0px 0px 10px 2px rgba(236, 225, 255, 0.801),
    0px 0px 10px 2px rgba(236, 225, 255, 0.932),
    0px 0px 10px 2px rgb(236, 225, 255);
}


.form {
  position: relative;
  width: 50vh;
  height: 100%;
  padding: 40px;

}
.input {
  margin: 12px 2px;
}
.link {
  text-decoration: none;
  color: blueviolet;
}
.form h2 {
  font-family: "Abril Fatface", cursive;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  user-select: none;
  margin-bottom: 50px;
  color: white;
  text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black,
    0 -1px 1px black;
}
.form h2::before {
  content: "";
  position: absolute;
  left: 45px;
  top: 120px;
  width: 80px;
  height: 4px;
  border-radius: 4px;
  background-color: rgb(152, 190, 240);
}

#email,
#password {
  width: 100%;
  border: 2px solid rgb(170, 170, 170);
  border-radius: 4px;
  padding: 12px 20px;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  transition: border 0.5s, box-shadow 0.5s;
}
#email:focus,
#password:focus {
  border: 2px solid rgb(18, 231, 247);
  background: rgba(255, 255, 255, 0);
  box-shadow: 2px 2px 10px 2px rgb(225, 253, 255);
}
#btn {
  position: relative;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  font-family: "Abril Fatface", cursive;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  font-size: 20px;
  border: none;
  transition: all 0.3s;
  background: linear-gradient(
    to bottom,
    rgba(128, 255, 0, 0.8) 0%,
    rgba(129, 215, 255, 0.8) 50%,
    rgba(214, 46, 141, 0.8) 100%
  );
}
#btn:hover {
  background: linear-gradient(
    to bottom,
    rgba(128, 255, 0, 1) 0%,
    rgba(129, 215, 255, 1) 50%,
    rgba(214, 46, 141, 1) 100%
  );
}
#btn:active {
  background: linear-gradient(
    to bottom,
    rgba(128, 255, 0, 1) 0%,
    rgba(129, 215, 255, 1) 50%,
    rgba(214, 46, 141, 1) 100%
  );
  box-shadow: 0px 0px 10px 2px rgb(225, 253, 255);
}
.card .square:nth-child(even) {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(223, 209, 209, 0.603);
  animation: animation1 10s linear infinite;
  animation-delay: calc(-1s * var(--i));
}
.card .square:nth-child(odd) {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(223, 209, 209, 0.603);
  animation: animation2 10s linear infinite;
  animation-delay: calc(-1s * var(--i));
}
.card .square:hover {
    border: 1px solid rgba(0, 195, 255, 0.692);
    box-shadow: 0px 0px 10px 2px rgba(236, 225, 255, 0.801),
      0px 0px 10px 2px rgba(236, 225, 255, 0.932),
      0px 0px 10px 2px rgb(236, 225, 255);
}

@keyframes animation1 {
  0% {
    transform: translateY(40px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(40px);
  }
}

@keyframes animation2 {
  0% {
    transform: translateX(40px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(40px);
  }
}

.card .square:nth-child(1) {
  width: 140px;
  height: 140px;
  top: -52px;
  right: -300px;
  border-radius: 100%;
}
.card .square:nth-child(2) {
  width: 100px;
  height: 100px;
  top: 14px;
  left: -300px;
}
.card .square:nth-child(3) {
  width: 72px;
  height: 72px;
  bottom: -43px;
  right: -110px;
}

.card .square:nth-child(4) {
  width: 96px;
  height: 96px;
  bottom: 55px;
  left: -400px;
}
.card .square:nth-child(5) {
  width: 96px;
  height: 96px;
  bottom: 511px;
  left: -440px;
  border-radius: 100%;
}
.card .square:nth-child(6) {
  width: 91px;
  height: 91px;
  bottom: 5px;
  right: -400px;
}
.card .square:nth-child(7) {
  width: 50px;
  height: 50px;
  top: -100px;
  left: 80px;
}
.card .square:nth-child(8) {
  width: 96px;
  height: 96px;
  top: 55px;
  right: -450px;
  border-radius: 100%;
}
.card .square:nth-child(9) {
  width: 92px;
  height: 92px;
  top: 500px;
  left: -400px;
}
.card .square:nth-child(10) {
  width: 40px;
  height: 40px;
  bottom: -100px;
  left: 200px;
  border-radius: 100%;
}
