* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: #ffffff;
  color: #000000;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;
}

.section {
  padding: 3em;
}

.section a {
  text-decoration: none;
  margin-top: 1em;
  color: #ffffff;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 0.3em 1.8em;
  border-radius: 0.8em;
  background: #7f60e8;
}

.section a:hover {
  opacity: 0.9;
}

.section a:focus {
  box-shadow: 0 0 0 4px #8060e875;
}
