* {
    box-sizing: border-box;
  }
  
  :root {
    --gapS: 4px;
    --gap: 8px;
    --gapL: 16px;
    --gapLM: 24px;
    --gapXL: 32px;
    --gapXXL: 64px;
    --primaryColor: #1976d2;
    --primaryColorAlt: #0453a3;
    --errorColor: #da0013;
  
    --gradient: linear-gradient(
      135deg,
      var(--primaryColor),
      var(--primaryColorAlt)
    );
  
    --labelColor: rgba(0, 0, 0, 0.54);
    --textColor: #1a1f36;
    --textColorAlt: #3c4257;
    --borderColor: var(--labelColor);
    --inputHeight: 56px;
    --borderWidth: 2px;
    --borderRadius: 4px;
    --formBorderRadius: var(--gap);
  
    --elevation-z8: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
      0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    --rippleColor: rgba(255, 255, 255, 0.15);
  }
  html {
    height: 100%;
    -webkit-font-smoothing: antialiased;
  }
  
  body {
    height:100%;
    margin: 0;
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    color: var(--textColor);
  }
  
  input,
  select {
    font-size: 100%;
  }
  
  .bg {
    background: #092756;
    background: -webkit-radial-gradient(
        0% 100%,
        ellipse cover,
        rgba(104, 128, 138, 0.4) 10%,
        rgba(138, 114, 76, 0) 40%
      ),
      linear-gradient(
        to bottom,
        rgba(57, 173, 219, 0.25) 0%,
        rgba(42, 60, 87, 0.4) 100%
      ),
      linear-gradient(135deg, #670d10 0%, #092756 100%);
  }
  
  .container {
    padding: var(--gapL);
    height: 100%;
    display: grid;
    place-items: center;
  }
  
  .form-wrapper {
    width: 100%;
    max-width: 500px;
  
    box-shadow: var(--elevation-z8);
    border-radius: var(--formBorderRadius);
    padding: var(--gapXL);
    background: rgb(255, 255, 255);
    display: grid;
    place-items: center;
  }
  
  .form-content {
    width: 100%;
  }
  
  @media screen and (max-width: 450px) {
    .form-wrapper {
      border-radius: 0;
      height: 100%;
      justify-items: center;
    }
    .container {
      padding: 0;
    }
  }
  
  .header {
    display: flex;
    align-items: center;
    margin: 0 0 var(--gap) 0;
    height: 40px;
  
    gap: 0 var(--gap);
  }
  
  .logo {
    width: 32px;
    display:flex;
  }
  .separator {
    width: 1px;
    height: 70%;
    background: var(--textColor);
  }
  .title {
    margin: 0;
  }
  
  .subtitle {
    font-weight: 400;
    margin: 0 0 var(--gapL) 0;
    color: var(--textColorAlt);
  }
  
  .link {
    text-decoration: none;
    color: var(--primaryColor);
  }
  .form-control {
    margin: var(--gapLM) 0;
    position: relative;
  
    min-width: 200px;
    border-radius: var(--borderRadius);
    position: relative;
  }
  
  .input-base {
    height: var(--inputHeight);
    width: 100%;
    position: relative;
    border-radius: inherit;
    cursor: text;
    display: inline-flex;
    position: relative;
    align-items: center;
  }
  
  .label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    transform-origin: top left;
    transform: translate(14px, 20px) scale(1);
    pointer-events: none;
    z-index: 1;
    line-height: 1;
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
      transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    color: var(--labelColor);
    letter-spacing: 0.00938em;
    will-change: transform, color;
  }
  
  input[type="password"] {
    letter-spacing: 1px;
  }
  
  .input {
    height: 100%;
    width: 100%;
    outline: none;
    background: none;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0 var(--gapL);
    border-radius: inherit;
    border: 0;
    color: var(--textColor);
  }
  .input::placeholder {
    opacity: 0;
  }
  
  fieldset {
    height: 100%;
    width: 100%;
    border-color: var(--borderColor);
    top: -5px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0 var(--gap);
    overflow: hidden;
    position: absolute;
    border-style: solid;
    border-width: 1px;
    border-radius: inherit;
    pointer-events: none;
  }
  
  legend {
    width: auto;
    height: 11px;
    display: block;
    padding: 0;
    font-size: 0.75em;
    max-width: 0.01px;
    text-align: left;
    transition: max-width 50ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    visibility: hidden;
    will-change: max-width;
  }
  
  span {
    display: inline-block;
    padding: 0 var(--gapS);
  }
  
  .input:focus ~ fieldset legend {
    max-width: 1000px;
  }
  
  .input:focus + .label {
    transform: translate(14px, -6px) scale(0.75);
    color: var(--primaryColor) !important;
  }
  
  .input:hover ~ fieldset {
    --borderColor: black;
  }
  
  .input:not(:placeholder-shown) + .label {
    transform: translate(14px, -6px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ fieldset legend {
    max-width: 1000px;
  }
  
  .input:focus ~ fieldset {
    border-color: var(--primaryColor) !important;
    border-width: var(--borderWidth);
  }
  
  .input:invalid:not(:placeholder-shown) + .label,
  .input:invalid:not(:placeholder-shown) ~ fieldset {
    color: var(--errorColor);
    border-color: var(--errorColor);
  }
  
  .input:invalid:not(:focus, :placeholder-shown) ~ .control-error {
    visibility: visible;
    opacity: 1;
  }
  
  .control-error {
    position: absolute;
    bottom: calc(var(--gapL) * -1);
    color: var(--errorColor);
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 200ms cubic-bezier(0, 0, 0.2, 1);
    will-change: opacity;
  }
  .actions-buttons {
    margin: var(--gapXL) 0 0;
  }
  
  .btn {
    box-sizing: border-box;
    position: relative;
  
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    background: transparent;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
    color: white;
    width: 100%;
    font-size: 16px;
    background: var(--gradient);
    border: none;
  }
  
  .btn__text.hide {
    display: none;
  }
  
  .loader {
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gapS);
    display: none;
    &.show {
      display: flex;
    }
    .cir {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
      animation: fade 1s ease infinite;
      &:nth-child(2) {
        animation-delay: 0.2s;
      }
      &:nth-child(3) {
        animation-delay: 0.3s;
      }
    }
  
    @keyframes fade {
      50% {
        opacity: 0;
      }
    }
  }
  
  .input__checkbox {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    top: 100%;
    left: 9px;
  }
  
  .form-control__checkbox {
    display: flex;
    gap: var(--gap);
    align-items: center;
  }
  .input__checkbox:focus ~ .label__terms .input__frame {
    color: var(--primaryColor) !important;
  }
  .input__checkbox:hover ~ .label__terms .input__frame {
    --borderColor: black;
  }
  
  .label__terms {
    min-width: 18px;
    height: 18px;
    display: block;
  }
  
  .input__frame {
    color: var(--borderColor);
    border: 2px solid;
    border-radius: 3px;
    height: 100%;
    transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
    position: relative;
  }
  .input__frame svg {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
  }
  .input__frame path {
    stroke-dashoffset: 22.91026;
    stroke-dasharray: 22.91026;
    stroke-width: 2.13333px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
    will-change: stroke-dashoffset;
  }
  
  .input__checkbox:checked ~ .label__terms .input__frame {
    color: var(--primaryColor);
    background: var(--primaryColor);
  }
  .input__checkbox:checked ~ .label__terms .input__frame path {
    stroke-dashoffset: 0;
  }
  