@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');


body {
    background: #fafafa;
}

.html .body{
    background: #fafafa;
    font-family: 'Inter', sans-serif;
}

.login{
    background: #fafafa;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: rgb(255, 255, 255);
    box-shadow: 0px,1px,2px,3px rgba(0, 0, 0, 0.1);


}

.login > p{
    visibility: hidden;
}

.login_logo{
    margin-top: 30px;
    margin-bottom: 15px;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.login_logo  img{
    width: 50px;
    cursor: pointer;
}

.login-container{
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px,1px,2px,3px rgba(0, 0, 0, 0.1);
    border: none;   /*border-box*/
    padding: 15px;
    margin-top: 80px;
    margin-bottom: 80px;
    background: #ffffff;

    -webkit-box-shadow: 10px 10px 15px #c9c9c9, 
 -10px -10px 60px #c9c9c9;
          box-shadow: 10px 10px 15px  #c9c9c9, 
 -10px -10px 60px #c9c9c9;
}

.login-container > form > input{
    height: 50px;
    border-radius: 4px;
    margin-bottom:5px;
    background-color: #fff;
    outline: none;
    width: 90%;
    border: 1px solid rgb(194, 194, 194);
    font-size: 18px;
    padding-left: 20px;
}

.login-container > form > input:focus{
    border: 2px solid #0e76a8;
    box-shadow: 0px,1px,2px,0px rgba(0, 0, 0, 0.2);
}

.login-container > form > input::placeholder{
    padding-left: 0px;
    font-size: 16px;
}

.login-container > p{
    margin-bottom: 20px;
    margin-top: auto;
    text-align: center;
    
}

.login-container > .main{
    font-size: 22px
}

.intro{
    text-align: center;
    color: rgb(20, 20, 20);
    padding-bottom: 2px;
    font-size: 13.2px;
}

.continue{
    cursor: pointer;    
    background-color: #5c64f2;
    border-radius: 3px;
    margin-top: 20px;
    width: 98%;
    height: 50px;
    color: white;
    font-size: 15px;
    border: none;
}

.continue:hover{
    background-color: #554ed0;
}

.fastsign{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 0px;
}
.fastsign > .linkedin:hover{
    background-color: rgb(233, 233, 233);
}

.fastsign > .github:hover{
    background-color: rgb(233, 233, 233);
}

.fastsign > .google:hover{
    background-color: rgb(233, 233, 233);
}

.fastsign > .microsoft:hover{
    background-color: rgb(233, 233, 233);
}

.or{
    text-align: center;
    padding-top: 20px;
}

.linkedin{
    border-radius: 3px;
    margin-top: 0px;
    width: 98%;
    height: 50px;
    cursor: pointer; 
    background-color: white;
    text-align: left;
    font-size: 15px;
    border: 1px solid rgb(194, 194, 194);
    padding-left: 7px;
}

.microsoft{
    border-radius: 3px;
    margin-top: 10px;
    width: 98%;
    height: 50px;
    cursor: pointer; 
    background-color: white;
    text-align: left;
    font-size: 15px;
    border: 1px solid rgb(194, 194, 194);
    padding-left: 7px;
}

.github{
    border-radius: 3px;
    margin-top: 10px;
    width: 98%;
    height: 50px;
    cursor: pointer; 
    background-color: white;
    text-align: left;
    font-size: 15px;
    border: 1px solid rgb(194, 194, 194);
    padding-left: 7px;
}

.google{
    border-radius: 3px;
    margin-top: 10px;
    width: 98%;
    height: 50px;
    cursor: pointer; 
    background-color: white;
    text-align: left;
    font-size: 15px;
    border: 1px solid rgb(194, 194, 194);
    padding-left: 7px;
    
}

.link{
    width: 7%;
    padding-left: 5px;
    padding-right: 12px;
}

.micro{
    width: 7%;
    padding-left: 5px;
    padding-right: 12px;
}

.gogle{
    width: 7%;
    padding-left: 5px;
    padding-right: 12px;
}

.git{
    width: 7%;
    padding-left: 5px;
    padding-right: 12px;
    
}