* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: #1a1a1a;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #309bed;
}

a:hover {
  opacity: 0.8;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  width: 100%;
  height: 100%;
}

.form {
  width: 25em;
  flex-direction: column;
  background: #1a1a1a;
  border-radius: 1em;
  box-shadow: 20px 20px 60px #161616, -20px -20px 60px #1e1e1e;
  margin: auto;
  padding: 3em 2em;
  gap: 1.8em;
}

.form h1 {
  font-size: 2.4rem;
  font-weight: 600;
  color: #ffffff;
}

.input-container {
  position: relative;
}

.input-container svg {
  width: 1em;
  position: absolute;
  left: 0.8em;
  color: #d3d3d3;
}

.input-container input {
  padding: 1em 3.2em;
  padding: 0.8em 0.2em 0.8em 2em;
  font-size: 1.2rem;
  color: #a0a0a0;
  outline: none;
  border: none;
  border-radius: 1em;
  background: #1a1a1a;
  box-shadow: inset 5px 5px 5px #161616, inset -5px -5px 5px #1a1a1a;
}

.input-container input:focus {
  box-shadow: inset 7px 7px 7px #161616, inset -7px -7px 7px #1a1a1a;
}

.input-container input::placeholder {
  color: #9e9e9e;
}

.password .input-container {
  margin-bottom: 0.6em;
}

.form input[type="submit"] {
  width: 100%;
  outline: none;
  border: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: #ffffff;
  padding: 0.8em 0;
  background: #1a1a1a;
  border-radius: 1em;
  box-shadow: 3px 3px 10px #161616, -3px -3px 10px #212121;
  cursor: pointer;
}

.form input[type="submit"]:hover {
  box-shadow: 3px 3px 7px #161616, -3px -3px 7px #1a1a1a;
}

.form input[type="submit"]:focus {
  box-shadow: inset 5px 5px 5px #161616, inset -5px -5px 5px #1a1a1a;
}

.sign-up-option {
  font-weight: 600;
  color: #7b7b7b;
}
