@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500,700,900&display=swap");
*, *::after, *::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Noto Sans TC", sans-serif;
  background-color: #EBECF0;
}

.form {
  position: relative;
  width: 400px;
  padding: 40px;
}
.form__title {
  margin-bottom: 2rem;
  font-size: 2rem;
  letter-spacing: 0.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #BABECC;
  text-shadow: 1px 1px 1px #FFF;
}
.form__textfield {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.form__textfield > input {
  width: 100%;
  height: 50px;
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: 2rem;
  background: #EBECF0;
  box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
  color: black;
  font-size: 1rem;
  letter-spacing: 0.1em;
  font-family: "Noto Sans TC", sans-serif;
  transition: all 0.2s ease-in-out;
}
.form__textfield > input::-moz-placeholder {
  color: #61677C;
  text-shadow: 1px 1px 1px #FFF;
}
.form__textfield > input:-ms-input-placeholder {
  color: #61677C;
  text-shadow: 1px 1px 1px #FFF;
}
.form__textfield > input::placeholder {
  color: #61677C;
  text-shadow: 1px 1px 1px #FFF;
}
.form__textfield > input:focus {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}
.form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 40px;
  background: #EBECF0;
  box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
  font-size: 1.25rem;
  letter-spacing: 0.2em;
  font-family: "Noto Sans TC", sans-serif;
  color: #AE1100;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.form__btn:hover {
  box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}
.form__btn:active {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}
.form__forget {
  margin-top: 1rem;
  letter-spacing: 0.1em;
  color: #61677C;
}
.form__forget a {
  color: rgba(174, 17, 0, 0.8);
  transition: 0.5s;
}
.form__forget a:hover {
  color: #ae1100;
}