* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: #ffffff;
  color: #000000;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background-image: url("./img/body-bg-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1em;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  width: 100%;
  height: 100%;
}

.form {
  flex-direction: column;
  border-radius: 1em;
  background: #ffffff;
  box-shadow: 8px 8px 40px 0px #00000026;
  padding: 5em 4em;
}

.form-title {
  font-size: 2.2rem;
  font-weight: 600;
}

.form-sub-title {
  font-size: 0.8rem;
}

.form-sub-title a {
  color: #5f40c9;
  text-decoration: none;
}

.form-sub-title a:hover {
  opacity: 0.8;
}

.email {
  margin: 3em 0 2em;
}

.input-container {
  width: 100%;
  position: relative;
}

.input-container svg {
  width: 1.3em;
  position: absolute;
  left: 0;
}

.input-container input {
  width: 100%;
  color: #1a1a1a;
  font-weight: 500;
  border: 0;
  outline: 0;
  font-size: 1rem;
  padding: 0.6em 0.5em 0.6em 1.7em;
  border-bottom: 0.15em solid #000000;
}

.input-container input::placeholder {
  opacity: 1;
  color: #1a1a1a;
}

.form input[type="submit"] {
  margin-top: 2em;
  border: none;
  outline: none;
  color: #ffffff;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 0.3em 1.8em;
  border-radius: 0.8em;
  background: #7f60e8;
  cursor: pointer;
}

.form input[type="submit"]:hover {
  opacity: 0.9;
}

.form input[type="submit"]:focus {
  box-shadow: 0 0 0 4px #8060e875;
}
