<!-- Main Content Area -->
<div class="container my-5 d-grid gap-5">
    <div class="p-5 border">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Necessitatibus veniam ipsa earum quibusdam, atque ipsum error maiores
        natus iusto fugit id saepe neque rerum magni laudantium accusantium
        dolorem numquam quasi.
      </p>
    </div>
    <div class="p-5 border">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Necessitatibus veniam ipsa earum quibusdam, atque ipsum error maiores
        natus iusto fugit id saepe neque rerum magni laudantium accusantium
        dolorem numquam quasi.
      </p>
    </div>
    <div class="p-5 border">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Necessitatibus veniam ipsa earum quibusdam, atque ipsum error maiores
        natus iusto fugit id saepe neque rerum magni laudantium accusantium
        dolorem numquam quasi.
      </p>
    </div>
    <div class="p-5 border">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Necessitatibus veniam ipsa earum quibusdam, atque ipsum error maiores
        natus iusto fugit id saepe neque rerum magni laudantium accusantium
        dolorem numquam quasi.
      </p>
    </div>
    <div class="p-5 border">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Necessitatibus veniam ipsa earum quibusdam, atque ipsum error maiores
        natus iusto fugit id saepe neque rerum magni laudantium accusantium
        dolorem numquam quasi. df
      </p>
    </div>
  </div>