* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .fullscreen-container {
    height: 100vh;
    width: 100vw;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80" width="80" height="80"%3E%3Cpath fill="%239C92AC" fill-opacity="0.4" d="M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"%3E%3C/path%3E%3C/svg%3E');
    background-color: #424242;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
  }
  
  .heading h1 {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 2.75rem;
    text-align: center;
  }
  
  .heading span {
    color: #FF5252;
    font-size: 4rem;
  }
  
  .form-container {
    background: #212121;
    padding: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 400px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .input-group label {
    font-size: .9rem;
    letter-spacing: 1px;
  }
  
  .input-group input {
    border: none;
    outline: none;
    padding: 7px;
    font-size: 1rem;
  }
  
  .input-group input:focus {
    box-shadow: 0 0 0 3px #FF5252;
  }
  
  button {
    padding: 10px;
    margin-top: 20px;
    outline: none;
    border: none;
    font-size: 1rem;
    background: #FF5252;
    color: white;
    cursor: pointer;
  }
  
  button:focus,
  button:hover {
    background: hsl(0, 100%, 76%);
  }
  
  @media (max-width: 700px){
    .container {
      flex-direction: column;
      gap: 25px;
    }
  }
    
  
  
  
  
  
  
  
  