html,
body {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("http://k46.kn3.net/taringa/B/3/5/9/B/C/WIk4N/66D.jpg") center/cover fixed;
}
* {
  box-sizing: border-box;
}
*::before,
*::after {
  content: '';
}
section.login {
  display: block;
  position: relative;
  padding: 4em 8em;
  background-color: rgba(0,0,0,0.3);
  overflow: hidden;
  font-family: 'Lato', Verdana, sans-serif;
  box-shadow: 0 0 25px rgba(0,0,0,0.1), 0 5px 10px -3px rgba(0,0,0,0.13);
}
section.login::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("http://k46.kn3.net/taringa/B/3/5/9/B/C/WIk4N/66D.jpg") center/cover fixed;
  margin: -30px;
  filter: blur(10px);
  z-index: -1;
}
section.login>form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.login>form>*:not(:last-child) {
  margin-bottom: 2em;
}
section.login>form>label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 0.9em;
  color: #f2f2f8;
}
section.login>form>label>input {
  position: relative;
  display: block;
  width: 400px;
  margin-top: 0.5em;
  outline: none;
  border: none;
  text-align: center;
  color: #212121;
  padding: 0.4em 1em;
  background-color: rgba(255,255,255,0.6);
  font-size: 1.1em;
  border-radius: 4px;
}
section.login>form>label>input[type=password] {
  letter-spacing: 2px;
  font-weight: 900;
}
section.login>form>button {
  border: none;
  outline: none;
  margin-top: 1em;
  padding: 1em 3em;
  border-radius: 4px;
  font-family: 'Lato', Verdana, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  background-color: transparent;
  border: 3px solid #f2f2f8;
  color: #f2f2f8;
  transform: translate3D(0, 0, 0);
  transition: color 0.3s, background-color 0.3s, transform 0.15s;
  cursor: pointer;
}
section.login>form>button:hover {
  color: #212121;
  background-color: #f2f2f8;
  outline: none;
}
section.login>form>button:focus {
  outline: none;
}
section.login>form>button:active {
  transform: translate3D(0, 2px, 0);
  outline: none;
}
