* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  width: 100vw;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1474767821094-a8fe9d8c8fdd?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYyOTA2Njk2NQ&ixlib=rb-1.2.1&q=85');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blur {
  background: rgba(255, 255, 255, 0.4);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.title {
  font-size: 2.7rem;
  margin-bottom: 30px;
}

.contact-info {
  display: flex;
}

ul {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
}

ul li {
  list-style: none;
  margin: 5px 0;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.circle {
  width: 50px;
  height: 50px;
  background: #2c8ec7;
  border-radius: 50%;
  margin-right: 15px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 0.8rem;
}

.contact-section {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(2, 1fr);
}

.contact-section textarea {
  grid-column: 1 / -1;
  resize: none;
  width: 100%;
  height: 180px;
}

.contact-section textarea,
.contact-section input[type=text],
.contact-section input[type=email] {
  background: #383838;
  padding: 10px;
  outline: none;
  border: none;
  color: #fff;
}

.contact-section input[type=submit] {
  grid-column: 2 / -1;
  width: 50%;
  justify-self: end;
  background: #2c8ec7;
  padding: 10px;
  outline: none;
  border: none;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
}

@media screen and (max-width: 600px) {
  .contact-info {
    flex-direction: column;
  }
  
  .contact-section {
    margin-top: 30px;
  }
  
}