* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  background: #0061eb;
  background-image: url("login-bg.png");
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
}

input,
button {
  border: none;
  outline: none;
  background: none;
  font-family: "Poppins", sans-serif;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.flex-stretch {
  align-items: stretch;
}
