@font-face {
  font-family: "Segoe";
  src: url(../fonts/segoe-ui-regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Segoe";
  src: url(../fonts/segoe-ui-bold.ttf) format("truetype");
  font-weight: 700;
}

:root {
  --background-color: #fafafa;
  --white: #ffffff;
  --border-color: 112, 112, 112;
  --placeholder-color: #837979;
  --or-text: #8e8e8e;
  --fb-logo: #385185;
  --log-in-button: #0095f6;
  --black: #262626;
  --footer-links: #1e4f7c;
  --copyright-gray: #bfbfbf;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Segoe";
  background: var(--background-color);
}

.log-in {
  background: var(--white);
  width: 35rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.1rem solid rgba(var(--border-color), 0.5);
  padding: 1.5rem 4rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.logo {
  width: 19rem;
  margin-bottom: 1rem;
}

.log-in-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.log-in-form input,
.log-in-button {
  padding: 1rem 0 1rem 1rem;
  border-radius: 0.5rem;
}

.log-in-form input,
.log-in-form input::placeholder {
  font-size: 1.1rem;
  font-family: "Segoe";
}

.log-in-form input {
  background: var(--background-color);
  border: 0.1rem solid rgba(var(--border-color), 0.5);
  outline: none;
}

.log-in-form input[type="text"] {
  margin-bottom: 0.5rem;
}

.log-in-form input::placeholder {
  color: var(--placeholder-color);
}

.log-in-form input:focus {
  border-color: rgba(var(--border-color), 0.8);
}

.log-in-button {
  background: var(--log-in-button);
  color: var(--white);
  margin: 2rem 0;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  border: none;
}

.or-divider {
  color: var(--or-text);
  font-weight: 700;
  position: relative;
  font-size: 1.2rem;
}

.or-divider::before,
.or-divider::after {
  content: "";
  display: block;
  width: 11rem;
  height: 0.1rem;
  position: absolute;
  background: rgba(var(--border-color), 0.4);
  top: 50%;
}

.or-divider::before {
  left: 3rem;
}

.or-divider::after {
  right: 3rem;
}

.fb-login {
  margin: 1.5rem 0;
}

.fb-login img,
.fb-login span {
  vertical-align: middle;
}

.fb-login img {
  width: 1.5rem;
  margin-right: 0.5rem;
}

.fb-login span {
  font-size: 1.3rem;
  color: var(--fb-logo);
  font-weight: 700;
}

.forgot-password {
  color: var(--fb-logo);
  font-size: 1.2rem;
}

.sign-up {
  background: var(--white);
  width: 35rem;
  margin: 0 auto;
  border: 0.1rem solid rgba(var(--border-color), 0.5);
  padding: 2rem;
  text-align: center;
}

.sign-up span {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
.sign-up a {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--log-in-button);
}

.get-the-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35rem;
  margin: 0 auto;
  margin-top: 1.5rem;
}

.get-the-app span {
  display: block;
  margin-bottom: 2rem;
  font-size: 1.4rem;
}

.app-images img {
  width: 13rem;
}

.app-images img:nth-child(1) {
  margin-right: 1rem;
}

.phones-container {
  display: none;
}

footer {
  width: 35rem;
  display: flex;
  flex-direction: column;
  margin: 4rem auto 0 auto;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.footer-links li {
  flex-basis: 13%;
  text-align: center;
}

.footer-links a {
  color: var(--footer-links);
  font-weight: 700;
  display: inline-block;
  margin-bottom: 1rem;
}

.copyright {
  text-align: center;
  color: var(--copyright-gray);
  font-weight: 700;
  font-size: 1.2rem;
}

/*Media Queries*/

@media screen and (min-width: 876px) {
  main {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
  }

  .phones-container {
    display: initial;
  }

  .log-in-container {
    order: 1;
  }

  footer {
    width: 100%;
    justify-content: flex-start;
    padding-left: 4rem;
    padding-bottom: 4rem;
  }

  .footer-links {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .footer-links li {
    flex-basis: auto;
    margin-right: 1rem;
  }

  .footer-links a {
    margin-bottom: 0;
  }

  .copyright {
    text-align: left;
  }
}

@media screen and (min-width: 1527px) {
  footer {
    flex-direction: row;
    justify-content: space-around;
  }
}
