* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
.section {
  height: 100%;
}

body {
  background: #ffffff;
  overflow-x: hidden;
  font-family: "Roboto", Arial, sans-serif;
}

input,
button {
  border: none;
  outline: none;
  background: none;
  font-family: "Roboto", Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #2874f0;
}

.section {
  background: #00000070;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-img-container {
  background: #2874f0;
  width: 19em;
  height: 80%;
  flex-direction: column;
  justify-content: space-between;
  padding: 3em 2em;
}

.text-container {
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2em;
}

.text-container h1 {
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
}

.text-container h3 {
  font-size: 1.25rem;
  font-weight: 400;
  color: #e2e2e2;
  line-height: 1.5;
}

.form-container {
  background: #ffffff;
  width: 28em;
  height: 80%;
  flex-direction: column;
  justify-content: space-between;
  padding: 3.5em 2.5em 2.5em;
}

.form {
  flex-direction: column;
  gap: 1em;
}

.email-phone-password-container,
.input-container,
.input-container input {
  width: 100%;
}

.email-phone-password-container {
  flex-direction: column;
  gap: 2.5em;
}

.input-container input {
  font-size: 1.05rem;
  font-weight: 400;
  color: #878787;
  line-height: 1.8;
  border-bottom: 0.0625em solid #e0e0e0;
}

.input-container input::placeholder {
  font-family: "Roboto", Arial, sans-serif;
  opacity: 1;
}

.password-container {
  position: relative;
}

.password-container a {
  position: absolute;
  right: 0;
  color: #2874f0;
  font-weight: 500;
}

.form p {
  font-size: 0.78rem;
  line-height: 1.5;
  color: #8e8e8e;
  margin-top: 1.5em;
}

.form p span {
  color: #2874f0;
}

.login-btn,
.request-btn,
.signup-btn,
.back-to-login-btn {
  width: 100%;
  padding: 1.1em 0;
  font-size: 0.938rem;
  font-weight: 500;
}

.login-btn,
.signup-btn {
  color: #ffffff;
  background: #fb641b;
}

.request-btn,
.back-to-login-btn {
  color: #2874f0;
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.back-to-login-link{
  width: 100%;
}

.form h6 {
  font-size: 0.95rem;
  font-weight: 400;
  color: #8e8e8e;
}

.form-container a {
  font-weight: 500;
}
